*{
    margin: 0;
    padding: 0;
}

.box{
    background-color: #ccc;
    position: absolute;
    top: 25%;
    right: 25%;
    bottom: 25%;
    left: 25%;
}

.round1{
    width: 50px;
    height: 50px;
    background-color: #fc0;
    border-bottom-right-radius: 100%;
}

.round2{
    width: 50px;
    height: 50px;
    background-color: #fc0;
    border-top-left-radius: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
}