html {
    font-family: "Microsoft YaHei", 微软雅黑, SansSerif;
}

main {
    min-width: 640px;
    padding: 20px;
    background-color: #eee;
    border: solid 1px #999;
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
}

.clearfix {
    overflow: auto;
}

.middle {
    width: 100%;
    float: left;
}

article {
    border: solid 1px #999;
    padding: 20px;
    background-color: #fff;
    margin-left: 222px;
    margin-right: 142px;
}

.teamInfo {
    padding: 20px;
    width: 160px;
    border: solid 1px #999;
    background-color: #fff;
    float: left;
    margin-left: -100%;
}

.teamInfo img {
    width: 80px;
    height: 80px;
}

.teamInfo p {
    float: right;
    margin: 0;
    font-weight: bold;
}

.personInfo {
    padding: 20px;
    width: 80px;
    border: solid 1px #999;
    background-color: #fff;
    float: left;
    margin-left: -122px;
}

.personInfo img {
    width: 80px;
    height: 80px;
}


