*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Microsoft YaHei";
    min-width: 1200px;
}

header{
    background-color: #333333;
}

#header_con{
    position: relative;
    margin: 0 auto;
    width: 95%;
    height: 60px;
}

#logo{
    position: absolute;
    height: 60px;
    width: 150px;
    bottom: -5px;
    left: 0;
}

#nav{
    position: absolute;
    top: 20px;
    right: 0;
    list-style: black;
}

#nav li{
    float: left;
    margin: 0 15px;
    font-size: 14px;
}

#nav li a{
    color: #ffffff;
    text-decoration: none;
}

.content_main{
    width: 1200px;
    margin: 20px auto;
    padding: 40px 30px 20px;
    box-shadow: 3px 3px 5px #9f9f9f;
}
.title{
    font-size: 21px;
    margin: 0 0 10px 0;
}

.sub_title{
    font-size: 15px;
    color: #777777;
    margin: 10px 0;
}

#Wrapper{
    margin-left: 2%;
    margin-right: 460px;
}

#Wrapper p{
    margin: 15px 0;
    text-indent: 2em;
    font-size: 14px;
}

.desc{
     margin:  12px 0;
     font-size: 12px;
     color: #999;
 }

#Wrapper ul{
    list-style: none;
    margin: 15px;
    font-size: 14px;
}

#Wrapper ol{
    margin: 5px 0 15px 35px;
    font-size: 14px;
    font-weight: 600;
}

#Wrapper li {
    padding: 4px 0;
}

#table_caption {
    font-size:14px;
    color: #333;
}

#Wrapper table {
    width: 1120px;
    height: 150px;
    text-align: left;
    font-size:12px;
    color: #444;
    background-color: #ccc;
}

#Wrapper th {
    background-color: #333;
    color: #fff;
    font-size: 14px;
    font-weight: 800;
    padding: 4px 5px;
}

#Wrapper td {
    background-color: #fff;
    padding: 4px 5px;
}

#Wrapper .sum{
    background-color: #ccc;
    font-weight: 700;
    color: #000;
}

form {
    font-size: 15px;
    color: #333;
    line-height: 34px;
}

#side_bar{
    position: absolute;
    top: 60px;
    right: 20px;
    width: 360px;
}

#side_title{
    margin-top: -15px;
    font-size: 16px;
    padding: 8px 12px;
    border-left: 3px solid #ccc;
}

#side_left{
    float: left;
    width: 120px;
    height: 320px;
    margin-right: 14px;
    text-align: right;
}

#side_right .form_warning{
    color: #aaa;
    font-size: 14px;
}

#description{
    margin-top: 8px;
}

.form_submit {
    width: 100%;
    height: 40px;
    background-color: #3553cf;
    color: #fff;
    border-radius: 12px;
    font-weight: 900;
}
.form_submit:hover {
    background-color: #0028cd;
}

.gallery_pic {
    width: 155px;
    height: 135px;
    border: 1px solid #cecece;
    margin: 25px 0 0 30px;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
}

.gallery_pic p{
    position: relative;
    left: -15px;
}

img{
    width: 80%;
}

.gallery_pic img {
    width: 100px;
    height: 80px;
    position: relative;
    top: -6px;
}

footer {
    height: 70px;
    background-color: #000;
    min-width: 1200px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 64px;
}