body {
    width: 980px;
    height: 1386px;
    margin: 0 auto;
    font-family: "Microsoft YaHei", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
    width: 892px;
    border: solid #938e8c;
    border-width: 0 0 2px 0;
    margin: 0 44px;
}

header #website {
    background-color: #d45d5c;
    font-family: STHeiti, "Hiragino Sans GB", sans-serif;
    font-size: 12px;
    color: #ffffff;
    vertical-align: bottom;
    width: 100px;
    height: 12px;
    display: inline-block;
    margin: 0;
    padding:44px 5px 5px 5px;
}

header #date {
    font-size: 12px;
    color: #d45d5c;
    font-family:STHeiti, "Hiragino Sans GB", sans-serif;
    vertical-align: baseline;
    text-align: right;
    width: 772px;
    display: inline-block;
    margin: 0;
    padding: 5px;
}

#imgGrp1 {
    margin: 30px 24px 0 44px;
    width: 641px;
    height: 301px;
    vertical-align: bottom;
    position: relative;
    display: inline-block;
}

#imgGrp1 #mask1-2 {
    background-color: rgba(96, 4, 31, 0.51);
    width: 191px;
    height: 301px;
    position: absolute;
    top: 0;
    right: 0;
}

#imgGrp1 #mask1-1 {
    background-color: rgba(3, 96, 38, 0.51);
    width: 191px;
    height: 301px;
    position: absolute;
    top: 0;
    left: 0;
}

#smryGrp {
    margin: 30px 44px 0 19px;
    width: 203px;
    height: 300px;
    border: solid #cc8091;
    border-width: 2px 0 0 0;
    vertical-align: bottom;
    display: inline-block;
    position: relative;
}

#smryGrp #smrySubGrp1 h1 {
    font-size: 24px;
    text-decoration: underline;
    text-transform: uppercase;
    line-height: 16px;
}

#smryGrp #smrySubGrp1 h1::first-letter {
    font-size: 30px;
}

#smryGrp #smrySubGrp1 address {
    font-size: 12px;
    line-height: 10px;
    color: #676767;
    font-family: STKaiti, sans-serif;
}

#smryGrp #smrySubGrp2 {
    position: absolute;
    bottom: 0;
    left: 0;
}

#smryGrp #smrySubGrp2 * {
    margin: 0;
}

#smryGrp #smrySubGrp2 h1 {
    font-size: 116px;
    line-height: 120px;
    font-weight: lighter;
    font-style: italic;
    color: #75b86b;
    margin-left: -12px;
}

#smryGrp #smrySubGrp2 h2 {
    font-size: 55px;
    line-height: 52px;
    font-weight: lighter;
    color: #cc8091;
    display: inline-block;
    vertical-align: bottom;
}

#smryGrp #smrySubGrp2 div {
    display: inline-block;
    vertical-align: bottom;
}

#smryGrp #smrySubGrp2 p {
    font-size: 21px;
    color: #cc8091;
}

#smryGrp #smrySubGrp2 address {
    font-size: 12px;
    color: #767777;
}

#expGrp {
    margin: 40px 44px 0;
    position: relative;
}

#expGrp > div {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px 0 0;
}

#expGrp > div > h1 {
    font-size: 16px;
    color: #418c59;
    font-weight: bold;
    text-decoration: underline;
    margin: 10px 0;
}

#expGrp > div p {
    font-family: STSong, sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #767777;
    margin: 0;
}

#expGrp #what {
    width: 240px;
}

#expGrp #what h1 {
    color: #418c59;
}

#expGrp #when {
    width: 200px;
}

#expGrp #when h1 {
    color: #d2994f;
}

#expGrp #how {
    width: 160px;
}

#expGrp #how h1 {
    color: #cc7680;
}

#expGrp #how div {
    margin: 20px 4px;
}

#expGrp #how .rate {
    color: #cd4a48;
    font-style: italic;
    opacity: 0.70;
}

article {
    width: 415px;
    margin: 40px 0 0 44px;
    display: inline-block;
    position: relative;
}

article .ttl {
    border: solid #11456b;
    border-width: 0 0 2px 0;
}

article .ttl h1 {
    color: #11456b;
    font-size: 40px;
    font-family: "Heiti SC", STHeiti, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

article .ttl h1 .ttlStrong{
    color: #f5e327;
    font-size: 72px;
    font-style: italic;
    margin: 0 12px 0 0;
}

article .ttl h2 {
    color: #11456b;
    font-size: 33px;
    font-family: "Heiti SC", STHeiti, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin: 8px 0;
}

article .content img {
    float: right;
}

article .content p {
    color: #767777;
    font-family: STSong, sans-serif;
    font-size: 12px;
    line-height: 16px;
}

article .content::first-letter {
    font-size: 70px;
    font-family: "Microsoft YaHei", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    float: left;
    line-height: 66px;
    color: #f5e327;
}

#imgOverCont {
    display: inline-block;
    vertical-align: top;
    width: 458px;
    margin: 40px 44px 0 14px;
}

#imgGrp2 {
    height: 257px;
    position: relative;
}

#imgGrp2 .imgTitle {
    background-color: rgba(0, 0, 0, 0.25);
    margin: 0;
    width: 458px;
    height: 61px;
    position: absolute;
    bottom: 0;
}

#imgGrp2 .imgTitle h1 {
    border: solid #72b16a;
    border-width: 0 0 0 3px;
    color: #ffffff;
    font-size: 26px;
    font-weight: normal;
    line-height: 44px;
    display: inline-block;
    margin: 9px 4px 8px 30px;
    padding: 0 8px;
}

#imgGrp2 .imgTitle h2 {
    color: #72b16a;
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    letter-spacing: 4px;
    display: inline-block;
    padding: 6px 0;
    vertical-align: bottom;
}

#overview {
    height: 318px;
    background-color: #e1dab8;
    margin: 30px 0 0;
    position: relative;
}

#overview ul {
    list-style-type: circle;
    padding: 30px 40px;
    font-size: 16px;
    line-height: 30px;
    font-family: STSong, sans-serif;
    color: #5a5b5b;
}

#overview ul .rate {
    font-size: 12px;
    font-style: italic;
    float: right;
}

#overview .ttl {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 160px;
    width: 260px;
    background-color: #d45d5c;
}

#overview .ttl h1 {
    font-size: 100px;
    font-weight: normal;
    line-height: 86px;
    color: #ffffff;
    height: 86px;
    display: inline-block;
    vertical-align: middle;
    border: solid #ffffff;
    border-width: 0 2px 0 0;
    margin: 30px 5px 30px 10px;
}

#overview .ttl div {
    display: inline-block;
    vertical-align: middle;
}

#overview .ttl h2 {
    font-size: 20px;
    line-height: 12px;
    font-weight: normal;
    letter-spacing: -1px;
    font-family: STHeiti, "sans-serif";
    text-transform: uppercase;
    color: #ffffff;
    font-style: italic;
    margin-right: 10px;
}

#overview .ttl address {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-family: STHeiti, "sans-serif";
    color: #ffffff;
}

#overview .quoteWords {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 198px;
    height: 160px;
}

#overview .quoteWords p {
    margin: 20px 10px;
    font-size: 14px;
    line-height: 16px;
    color: #5a5b5b;
    font-family: STHeiti, sans-serif;
    font-style: italic;
}

#overview .quoteWords .quote {
    font-size: 72px;
    font-style: normal;
    color: #d45d5c;
    position: relative;
    letter-spacing: -20px;
    right: 30px;
}

#overview .quoteWords .start {
    float: left;
    top: 15px;
}

#overview .quoteWords .end {
    float: right;
    top: 25px;
}

footer {
    width: 892px;
    text-align: right;
    font-family: STHeiti, sans-serif;
    color: #d45d5c;
    font-size: 12px;
    border: solid #938e8c;
    border-width: 1px 0 0 0;
    margin: 30px auto;
    padding-top: 5px;
}
